@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
    color-scheme: only light;
    --white: #ffffff;
    --lightBG: #dce1df;
    --salmon: #ff6666;
    --teal: #0096a0;
    --tealMid: #0ebac7;
    --tealContrast: #33ffff;
    --tealShade: #007c85;
    --darkGrey: #4f585e;
    font-family: "Open Sans", sans-serif !important;
}

header {
    height: 80vh;
}

body {
    height: 100%;
    background-image: url(../IMG/fundo4.svg), url(../IMG/fundo3.svg), url(../IMG/fundo2.svg), url(../IMG/g10-2.svg) !important;

    background-repeat: no-repeat, no-repeat, no-repeat, repeat-y;
    background-position: left, left, right, center;
    background-position-y: bottom, top, 70vh, center;
    background-size: auto, auto, auto, cover;
}

#search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#search-bar {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 2px 8px 0px rgba(26, 26, 26, 0.16);
}

#search-bar div {
    display: grid;
    width: 500px;
}

#search-bar input {
    border: none;
    padding: 5px;
    margin: 0;
    width: 100%;
}

#search-bar input:focus {
    outline: none;
}

#search-bar button {
    border: none;
    background-color: #790EA6;
    color: white;
    border: solid #790EA6 2px;
    border-radius: 5px;
    padding: 10px;
    grid-column: 2;
    width: 100%;
    box-shadow: 0px 2px 8px 0px rgba(26, 26, 26, 0.16);
    font-size: 12px;
}

#search-map-container {
    margin-top: 10vh;
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

#logo {
    display: grid;
    padding: 5px;
    align-items: end;
    justify-items: center;
}

#main-section {
    display: block;
    margin-top: 15vh;
}

#about {
    margin: 80px auto;
    max-width: 960px;
    text-align: center;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(26, 26, 26, 0.16);

    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}


#body-cards {
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.cards {
    margin: 80px auto;
    max-width: 960px;
    text-align: center;

    background-color: white;

    box-shadow: 0px 2px 8px 0px rgba(26, 26, 26, 0.16);
}

div.card {
    background: var(--white);
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 300px;
    cursor: pointer;
}

div.card img {
    max-width: 300px;
    border-radius: 5px;
}

div.card .card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 0;
    padding-bottom: 75%;
}

div.card div.card-title {
    background: var(--white);
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}

div.card h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
}

div.card p {
    font-size: 10px;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    width: 270px;

    white-space: nowrap;
    overflow: hidden;

    color: gray;
}

div.card h2 small {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
}

div.card .checked {
    color: #790EA6;
}


.contact-section {
    padding-top: 5rem;
}

.contact-section .social {
    margin-top: 5rem;
}

.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    line-height: 3rem;
    color: black;
}

.contact-section .social a:hover {
    color: black;
}

.contact-section .social a:active {
    color: #fff;
}

.footer {
    padding: 5rem 0;
}

#loading {
    animation: animName 2s linear infinite;
    width: 90px;
    height: 90px;
    background-image: url(../IMG/logo.png);
    margin: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;

    display:inline-block;
}

@keyframes animName {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal-content {
    border: none !important;
    background-color: #fff0 !important;
}

.info-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.info-child {
    flex: 1
}

.info-div .tip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
  
.info-div .tip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tip-div:hover .tip {
    visibility: visible;
}

/* ----------------------------------details -----------*/

.detail-closer-cards {
    margin: 80px auto;
    max-width: 80%;
    text-align: center;
}

#detail-main-section {
    display: block;
}

#detail-img {
    width: 600px;
    height: 450px;

    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(26, 26, 26, 0.16);
}

#detail-body {
    margin: 80px auto;
    max-width: 80%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 8px 0px rgba(26, 26, 26, 0.16);
}

h2#detail-name {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
}

#detail-description span {
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 270px;
    color: rgb(68, 68, 68);
}

#map {
    height: 450px;
}

